<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Cocktails</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
  <div class="main-container">
    <h1>Our cocktails:</h1>
    <div class="linkContainer">
        <a href="/">all</a>
      <% alcoholList.forEach((alcoholType) => { %>
        <a href="?alcohol=<%=alcoholType%>">
          <%= alcoholType %>
        </a>
        <% }) %>
    </div>

    <table>

      <thead>        
        <th class="name">Name</th>
        <th class="price">Price</th>
      </thead>

      <tbody>
        <% cocktailList.forEach((cocktail) => { %>
          <tr>
            <td>
              <%= cocktail.name %>
              <% if (!cocktail.isAlcoholic) { %>
               <p>(non-alcoholic)</p>
            <% } %>
              <%= cocktail.contains %>
            </td>
            <td>
              <%= cocktail.price %>
            </td>
            <% }) %>
          </tr>
      </tbody>

    </table>

  </div>
</body>

</html>